<%- include('../navbarAdmin') %>

    <main>
        <div class="affichage">
            <h2 class="text-center titrepage">Gestion des comptes</h2>
            <form class="d-flex justify-content-center align-items-center" method="POST" action="/admin/clear?_method=DELETE">
                <button class="btn btn-danger taillebouton3" type="input">Supprimer les comptes sans patrouille</button>
            </form>
        </div>
    </main>
</body>

</html>