<%- include('../navbarAdmin') %>

  <main>
    <h1>Gestion</h1>
    <p>Welcome to Gestion</p>
    <form method="POST" action="/admin/clear?_method=DELETE">
        <button class="btn btn-danger" type="input">
           Netoyer la bdd
        </button>
    </form>
  </main>
  </body>
</html>