<%- include('header') %>

    <main>
        <form class="text-center formaccueil" method="POST" action="/">
            <h2 class="titreaccueil">Connexion</h2>
            <div class="icon">
                <i class="icon ion-locked"></i>
            </div>
            <% if (alert) { %>
                <div class="alert alert-<%= alert.type %> alert-dismissible fade show" role="alert">
                    <%= alert.text %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            <input class="form-control champform" type="text" name="NumCard" placeholder="Numéro de carte" required>
            <input class="form-control champformlast" type="password" name="Password" placeholder="Mot de passe" required>
            <button class="btn btn-primary boutonform" type="submit">Se connecter</button>
            <a class="lienform" href="/inscription">Pas encore inscrit ?</a>
        </form>
    </main>
</body>

</html>