<%- include('header') %> 
  
   <main>
        <form class="text-center formaccueil" method="POST" action="/inscription">
            <h2>Inscription</h2>
            <div class="icon">
                <i class="icon ion-clipboard"></i>
            </div>
            <% if (locals.alert) { %>
                <div class="alert alert-<%= locals.alert.type %>" role="alert">
                    <%= locals.alert.text %>
                </div>
            <% } %>
            <input class="form-control champform" type="text" name="NumCard" placeholder="Numéro de carte" required>
            <input class="form-control champform" type="text" name="LastName" placeholder="Nom" required>
            <input class="form-control champform" type="text" name="FirstName" placeholder="Prénom" required>
            <input class="form-control champform" type="date" name="BirthDate" placeholder="Date de naissance" required>
            </p>Un mot de passe valide contient: <br><br>- Une majuscule<br>- Une minuscule<br>- Un chiffre<br>- Un caractère spécial (-+!*@_)<br>- Entre 8 et 15 caractères</p>
            <input class="form-control champform" type="password" name="Password" placeholder="Mot de passe" required>
            <input class="form-control champformlast" type="password" name="VerifyPassword" placeholder="Vérification mot de passe" onclick="test" required>
            <button class="btn btn-primary boutonform" type="submit">S'inscrire</button>
            <a class="lienform" href="/">Déjà inscrit ?</a>
        </form>
    </main>
</body>

</html>