<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ScouTools</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
            <h1>ScouTools</h1>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item navitem" role="presentation">
                        <a class="nav-link lienmenu" href="/newuser/demande">Faire une demande</a>
                    </li>
                    <li class="nav-item navitem" role="presentation">
                        <a class="nav-link lienmenu" href="/newuser/compte">Compte</a>
                    </li>
                </ul>
                <span class="navbar-text actions">
                    <a class="btn btn-light action-button boutonmenu" role="button" href="/newuser/deconnexion">Deconnexion</a>
                </span>
            </div>
        </div>
    </nav>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
