body {
    background-color: #a5eead;
    font-family: Adamina, serif;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button {
    padding: 5px;
    background-color: #238521;
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    max-width: 95%;
}

.h1, h1 {
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    color: rgb(255,255,255);
    margin-bottom: 0px;
}

.menu {
    margin-left: 55px;
}

.navitem {
    margin-right: 20px;
}

.lienmenu {
    font-size: 20px;
}

.boutonmenu {
    background-color: #a5eead;
    border: none;
    border-radius: 3px;
}
