body {
    background-color: #a5eead;
    font-family: Adamina, serif;
}

main {
    margin-top: 106px;
    padding: 20px;
}

.formaccueil {
    width: 500px;
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.titreaccueil {
    color: #238521;
    font-size: 40px;
}

.icon {
    margin-bottom: 20px;
}

.icon.ion-locked {
    font-size: 100px;
    color: #238521;
}

.icon.ion-clipboard {
    font-size: 100px;
    color: #238521;
  }

.champform {
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #238521;
    border-radius: 0px;
}

.champformlast {
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #238521;
    border-radius: 0px;
}

.boutonform {
    background-color: #238521;
    margin-bottom: 10px;
    width: 200px;
    border: none;
    border-radius: 3px;
}

.boutonform:hover {
    background-color: #37dd4b;
}

.lienform {
    color: #238521;
    display: block;
    font-size: 14px;
}

.lienform:hover {
    color: #37dd4b;
}

.affichage {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.tableaffichage {
    border: solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 16px;
}

.table thead th {
    border: none;
}

.table td, .table th {
    vertical-align: middle;
}

.taillebouton {
    width: 130px;
    min-width: 50px;
}

.taillebouton2 {
    width: 230px;
    min-width: 50px;
}

.taillebouton3 {
    width: 400px;
    min-width: 50px;
}

.taillebouton4 {
    width: 500px;
    min-width: 50px;
}

.titrepage {
    font-family: Adamina, serif;
    font-size: 30px;
    margin-bottom: 30px;
  }

.titresection {
    font-family: Adamina, serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.aligner {
    display: inline;
}

.retour {
    display: block;
}

.espacebas {
    margin-bottom: 50px;
}
  
  